@import "../_variables"
.Gallery
  .Title
    margin-bottom: 40px
  .CarouselComponent
    
    .content
      order: 2
      display: flex
      gap: 30px
    
    .carousel-container
      order: 1
      margin-bottom: 40px