// COLORS
$primary-color: #545F71
$gray-color: #333333
$secondary-color: #9BA5B7
$light-gray-1: #F9F9F9
$light-gray-2: #F2F2F2
$light-gray-3: #BDBDBD
$light-gray-4: #E0E0E0
$light-gray-5: #FBFBFB
$light-gray-6: #F3F3F3

// MEDIA QUERIES
$screen-s: 480px
$screen-m: 768px
$screen-l: 1024px
$screen-xl: 1200px

//TRANSITINOS
$duration: 0.2s
$timing-function: ease-in-out